<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit person</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
    <label for="fullname">Введите ФИО: </label>
    <input type="text" th:field="*{fullName}" id="fullname">
    <div style="color:red" th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}">Name error</div>
    <br/>
    <label for="birthyear">Введите год рождения: </label>
    <input type="text" th:field="*{birthYear}" id="birthyear">
    <div style="color:red" th:if="${#fields.hasErrors('birthyear')}" th:errors="*{birthyear}">Born error</div>
    <br/>
    <button type="submit">Редактировать</button>
</form>

</body>
</html>