<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New Person</title>
</head>
<body>

<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <label for="fullname">Введите ФИО: </label>
    <input type="text" th:field="*{fullName}" id="fullname">
    <div style="color:red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Name error</div>
    <br/>
    <label for="birthyear">Введите год рождения: </label>
    <input type="text" th:field="*{birthYear}" id="birthyear">
    <div style="color:red" th:if="${#fields.hasErrors('birthYear')}" th:errors="*{birthYear}">Born error</div>
    <br/>
    <button type="submit">Создать</button>
</form>

</body>
</html>
