<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View person</title>
</head>
<body>

<span th:text="${person.getFullName()}">VALUE</span>,
<span th:text="${person.getBirthYear()}">VALUE</span>

<hr/>
<p></p>
<h5>Книги:</h5>
<div th:if="${books.empty}">
    Человек пока не взял ни одной книги
</div>

<ul th:if="${!books.empty}">
    <li th:each="book : ${books}" th:text="${book.getTitle() + ' — ' + book.getAuthor() + ' (' + book.getYear() + ')'}">Книга</li>
</ul>

<br/>
<hr/>

<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <button type="submit">Редактировать</button>
</form>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <button type="submit">Удалить</button>
</form>

</body>
</html>