<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All books</title>
</head>
<body>

<div th:each="book : ${books}">
    <a th:href="@{/books/{id}(id=${book.getId()})}"
       th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}">book</a>
</div>
<p></p>

<hr/>
<p></p>

<a href="/books/new">Добавить книгу</a>

<p></p>
<hr/>
<p></p>

<div>
    <a th:if="${currentPage > 0 && sortByYear == true}"
       th:href="@{/books(page=${currentPage - 1}, books_per_page=${booksPerPage}, sort_by_year=${sortByYear})}">
        ⬅ Предыдущая
    </a>

    <span th:if="${sortByYear == true}" th:text="${currentPage + 1} + ' / ' + ${totalPages}"></span>

    <a th:if="${currentPage + 1 < totalPages && sortByYear == true}"
       th:href="@{/books(page=${currentPage + 1}, books_per_page=${booksPerPage}, sort_by_year=${sortByYear})}">
        Следующая ➡
    </a>
</div>

<div>
    <a th:if="${currentPage > 0 && sortByYear != true}"
       th:href="@{/books(page=${currentPage - 1}, books_per_page=${booksPerPage})}">
        ⬅ Предыдущая
    </a>

    <span th:if="${sortByYear != true}" th:text="${currentPage + 1} + ' / ' + ${totalPages}"></span>

    <a th:if="${currentPage + 1 < totalPages && sortByYear != true}"
       th:href="@{/books(page=${currentPage + 1}, books_per_page=${booksPerPage})}">
        Следующая ➡
    </a>
</div>

</body>
</html>