<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>View</title>
</head>
<body>

<span th:text="${person.getName()}">ФИО</span>, <span th:text="${person.getBorn()}">год рождения</span>

<hr/>
<p></p>
<h5>Книги:</h5>
<div th:if="${books.empty}">
    Человек пока не взял ни одной книги
</div>

<ul th:if="${!books.empty}">
    <li th:each="book : ${books}" th:text="${book.name + ' — ' + book.author + ' (' + book.year + ')'}">Книга</li>
</ul>

<br/>
<hr/>

<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getPersonId()})}">
    <button type="submit">Редактировать</button>
</form>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getPersonId()})}">
    <button type="submit">Удалить</button>
</form>

</body>
</html>